::-webkit-scrollbar {
  width: 8px;
  border-radius: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb8b8b3;
  /* box-shadow: 0 6px 8px -3px black; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb8b8;
}

input::-webkit-input-placeholder {
  /* Edge */
  color: rgba(128, 128, 128, 0.295);
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(128, 128, 128, 0.308);
}

input::placeholder {
  color: rgba(128, 128, 128, 0.459);
}

.imagesContainer__editProfile {
  scroll-snap-type: x mandatory;
  scroll-padding: 4rem;
}

.imagesContainer__editProfile::-webkit-scrollbar {
  height: 8px;
}

.imagesContainer__editProfile::-webkit-scrollbar-track {
  background: transparent;
}
.imagesContainer__editProfile::-webkit-scrollbar-thumb {
  background: #ff5757;
  /* box-shadow: 0 6px 8px -3px black; */
}
.imagesContainer__editProfile::-webkit-scrollbar-thumb:hover {
  background: #ff0e0e;
  /* box-shadow: 0 6px 8px -3px black; */
  border-radius: 5px;
}
